.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 0;
  background-color: #005bc2;
  box-shadow: 0 1px 7.5px rgba(0, 0, 0, 0.37);
  z-index: 1000;
}
.header .logo {
  padding-left: 24px;
}
.header .logo a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
