.block {
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 25px;
}
.name {
  font-size: 20px;
}
.message {
  font-size: 20px;
  color: green;
}
.item {
  padding: 10px;
}
.item.active {
  color: gold;
}
.messageBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
