.wrap {
    padding: 40px;
}
.item {
    display: flex;
    margin-bottom: 20px;
}
.item button {
    border-radius: 15px;
    width: 100%;
}
.userimg {
     width: 100px;
    height: 100px;
}
.descr {
        display: flex;
    justify-content: space-between;
    border: 2px solid #999;
    border-radius: 40px;
    width: 100%;
    padding: 20px;
    margin-left: 10px;
}